<h4>検索結果</h4>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがPostの時 -->
  <% if @range == "Post" %>
    <%= render 'public/shared/list', posts: @posts %>
  <% else %>
    <!--検索対象モデルがPostではない時(= 検索対象モデルがTagの時) -->
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><i class="fas fa-tag"></i>
           <%= link_to tag_path(tag) do %>
            <%= tag.tagname %><%="(#{tag.posts.count})" %>
           <% end %>
           </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>