<h4>チャットルーム（<%= @group.group_name %>）</h4>
<div>
  <% if @group.chat_messages.count == 0 %>
    <P>メンバーとチャットを始めましょう！</P>
  <% end %>
</div>
<div class='chat_<%= @group.id %>'><%= render 'public/chat_messages/messages', {messages: @messages, group: @group, message: @message} %></div>