 <div class="text-center mt-3">
    <div class="col-xs-offset-5" style="margin-top: 18vh; margin-bottom: 25vh;">
        <h3 class="conf mb-4"><strong>本当に退会しますか？</strong></h3>

        <div class = "withdrawal_text" style="margin-top: 4vh;">退会すると、会員登録情報や
				<br>これまでの投稿が閲覧できなくなります。
				<br>退会する場合は、「退会する」をクリックしてください。
	    </div>
        <div class="d-flex flex-column flex-md-row justify-content-center mt-4">
            <div class="no-delete"><%= link_to "退会しない", user_path(current_user), class: "btn btn-primary" %>&ensp;</div>
            <div class="delete">
            <% if user_signed_in? && current_user %>
                <%= link_to "退会する", user_withdraw_path(@user), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
            <% end %>
            </div>
        </div>
    </div>
  </div>
  